header {
  margin-bottom: 2em;
}

h2 {
  margin-bottom: 1em;
}

.contact-div {
  display: flex;
  width: 15em;
  margin: auto;
  margin-bottom: 2em;
  justify-content: center;
}

.contact-div img {
  width: 1em;
  margin-right: 1em;
  filter: invert(18%) sepia(3%) saturate(4585%) hue-rotate(343deg)
    brightness(100%) contrast(74%);
}

@media only screen and (min-width: 1024px) {
  footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .contact-div {
    font-size: 30px;
  }
}
