* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4d4138;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #eeeeee;
}

h1 {
  font-size: 45px;
  display: block;
  text-align: center;
  text-decoration: underline;
  padding: 5% 5% 0;
}

header nav {
  display: inline;
}

header ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

header ul li {
  width: 48%;
  display: inline;
  text-align: center;
  margin: 0 1%;
  margin-top: 5%;
}

header ul li a {
  border-bottom: #4d4138 1px solid;
  text-decoration: none;
  display: block;
  padding: 5%;
  font-weight: bold;
}

.home-Logo-container {
  position: relative;
  text-align: center;
  margin-bottom: 5%;
}

.home-Logo-background {
  width: 100%;
}

.logo {
  font-weight: 500;
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  border: #4d4138 solid 1px;
  padding: 2% 7.5%;
  border-radius: 20px;
}

h2 {
  font-family: "Parisienne", cursive;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30%;
}

.home-h2 {
  margin-bottom: 30%;
}

.card {
  position: relative;
  text-align: center;
  padding-top: 15%;
  border: #4d4138 solid 1px;
}

.icon-container {
  z-index: 10;
  background-color: #eeeeee;
  width: 20%;
  position: absolute;
  left: 50%;
  bottom: 65%;
  transform: translate(-50%, -50%);
  border: #4d4138 solid 1px;
  padding: 4%;
  border-radius: 50px;
}

.icon {
  width: 100%;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}
