* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4d4138;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #eeeeee;
}

h1 {
  font-size: 45px;
  display: block;
  text-align: center;
  text-decoration: underline;
  padding: 5% 5% 0;
}

header nav {
  display: inline;
}

header ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

header ul li {
  width: 48%;
  display: inline;
  text-align: center;
  margin: 0 1%;
  margin-top: 5%;
}

header ul li a {
  border-bottom: #4d4138 1px solid;
  text-decoration: none;
  display: block;
  padding: 5%;
  font-weight: bold;
}

.home-Logo-container {
  position: relative;
  text-align: center;
  margin-bottom: 5%;
}

.home-Logo-background {
  width: 100%;
  opacity: 0.56;
}

.logo {
  font-weight: bold;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  border: #4d4138 solid 1px;
  padding: 2% 7.5%;
  border-radius: 20px;
}

h2 {
  font-family: "Parisienne", cursive;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30%;
}

.home-h2 {
  margin-bottom: 30%;
}

.card {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 15%;
  border: #4d4138 solid 1px;
  width: 80%;
  margin: 0 10%;
  margin-bottom: 5em;
}

.icon-container {
  background-color: #eeeeee;
  border: #4d4138 solid 1px;
  height: 75px;
  width: 75px;
  font-size: 17px;
  padding: 1em;
  border-radius: 45px;
  position: absolute;
  top: -12%;
  transform: translateY(-50%);
  right: 50%;
  transform: translateX(50%);
}

.icon {
  filter: invert(18%) sepia(3%) saturate(4585%) hue-rotate(343deg)
    brightness(100%) contrast(74%);
  width: 2em;
  height: 2em;
}

h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0.25em;
}

.back-to-top {
  background-color: #4d4138;
  border: #eeeeee solid 1px;
  position: fixed;
  left: 5px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
}

.back-to-top img {
  filter: invert(98%) sepia(8%) saturate(372%) hue-rotate(224deg)
    brightness(109%) contrast(87%);
  width: 2em;
  height: 2em;
}

.contact {
  background-color: #4d4138;
  border: #eeeeee solid 1px;
  color: #eeeeee;
  position: fixed;
  right: 5px;
  bottom: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  padding-bottom: 0.1em;
  font-size: 20px;
}

footer {
  background-color: #4d4138;
  padding: 10% 0 5%;
}

footer hr {
  color: #eeeeee;
}

footer nav {
  display: inline;
}

footer ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 10%;
}

footer ul li {
  width: 48%;
  display: inline;
  text-align: center;
  margin: 0 1%;
  margin-top: 5%;
}

footer ul li a {
  text-decoration: none;
  display: block;
  padding: 5%;
  font-weight: bold;
  color: #eeeeee;
}

footer img {
  filter: invert(98%) sepia(8%) saturate(372%) hue-rotate(224deg)
    brightness(109%) contrast(87%);

  width: 20%;
  display: block;
  margin: auto;
}
